<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPjZ4nPQrDWjadcW6iVtXTw3A1r5GUSv4</string>
	<key>GCM_SENDER_ID</key>
	<string>619678918858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Asror.Helper123</string>
	<key>PROJECT_ID</key>
	<string>yordamchi-13a86</string>
	<key>STORAGE_BUCKET</key>
	<string>yordamchi-13a86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619678918858:ios:e79abf53e93db8559eac33</string>
</dict>
</plist>